<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-200">
<div class="main bg-white rounded-lg shadow-md p-10 transition-transform w-96 text-center">
    <h1 class="text-green-600 text-3xl">Reset Password</h1>
    <h3 class="text-lg mt-2 mb-4">Enter your new password</h3>
    <form onsubmit="return validatePasswords()" >

        <label for="password" class="block mb-2 text-left text-gray-700 font-bold">Password:</label>
        <div class="relative mb-6">
            <input type="password" id="password" name="password" placeholder="* * * * * * * * *"
                   class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-green-400" required>
            <span onclick="togglePassword('password')" class="absolute inset-y-0 right-3 flex items-center cursor-pointer">
                    <svg id="passwordIcon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-.95 3.143-3.733 5.8-7.042 6.479" />
                    </svg>
                </span>
            <div id="password-error-message" class="text-red-600 text-sm hidden">Passwords do not match.</div>
        </div>


        <label for="confirmPassword" class="block mb-2 text-left text-gray-700 font-bold">Confirm Password:</label>
        <div class="relative mb-6">
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="* * * * * * * * *"
                   class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-green-400" required>
            <span onclick="togglePassword('confirmPassword')" class="absolute inset-y-0 right-3 flex items-center cursor-pointer">
                    <svg id="confirmPasswordIcon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-.95 3.143-3.733 5.8-7.042 6.479" />
                    </svg>
                </span>
            <div id="confirm-password-error-message" class="text-red-600 text-sm hidden">Passwords do not match.</div>
        </div>

        <div class="flex justify-center items-center">
            <button type="submit" class="bg-green-600 text-white py-3 px-6 rounded-md cursor-pointer transition-colors duration-300 hover:bg-green-500 w-full">
                Submit
            </button>
        </div>
    </form>
</div>

<script>
    function togglePassword(inputId) {
        const passwordField = document.getElementById(inputId);
        const icon = document.getElementById(inputId + "Icon");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            icon.setAttribute("d", "M13.875 18.825a10.05 10.05 0 004.116-5.325");
        } else {
            passwordField.type = "password";
            icon.setAttribute("d", "M15 12a3 3 0 11-6 0 3 3 0 016 0");
        }
    }
    function validatePasswords() {
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        const passwordErrorMessage = document.getElementById("password-error-message");
        const confirmPasswordErrorMessage = document.getElementById("confirm-password-error-message");

        // Reset error messages
        passwordErrorMessage.classList.add("hidden");
        confirmPasswordErrorMessage.classList.add("hidden");

        let isValid = true;

        if (password === "") {
            passwordErrorMessage.classList.remove("hidden"); // Show "Password is required" message
            isValid = false;
        }

        if (password !== confirmPassword) {
            confirmPasswordErrorMessage.classList.remove("hidden"); // Show "Passwords do not match" message
            isValid = false;
        }

        return isValid;
    }
</script>
</body>

</html>


<!--hx-post="/api/update_password"  hx-headers='{"Authorization": "testToken"}' hx-target="#result" hx-swap="innerHTML"-->

